<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="./tests/bootstrap.php"
    >

    <testsuites>
        <testsuite name="unit tests">
            <directory>./tests/Unit</directory>
        </testsuite>

        <testsuite name="functional tests with phpcr">
            <directory>./tests/WebTest</directory>
            <directory>./tests/Functional/Doctrine/Phpcr</directory>
        </testsuite>

        <testsuite name="functional tests with orm">
            <directory>./tests/Functional/Doctrine/Orm</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>tests</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
